#container_gx {
    min-width: 1365px
}
@media screen and (min-width: 1440px) {
    :root{
        --left-percent:14.4% ;
        --right-percent: var(--left-percent);
    }
    
}

@media screen and (min-width: 1280px)  {
    :root {
        --left-percent: 7.2%;
        --right-percent: var(--left-percent);
    }

    #container_gx {
        min-width: 1200px;
    }

}