:root {
    --primary-color: #b21e23;
    --white-text: #fff;
    --height-image: 243px;
    --left-percent: 7.2%;
    --right-percent: var(--left-percent);
}

* {
    scroll-behavior: smooth;
}

@font-face {
    font-family: "MBCorpoSText-Regular-Web";
    src: url("./assets/fonts/MBCorpoSText-Regular-Web.woff2");
}

@font-face {
    font-family: "MBCorpoSTitle-Bold-Web";
    src: url("./assets/fonts/MBCorpoSTitle-Bold-Web.woff2");
}

@font-face {
    font-family: "MBCorpoSTitle-ExtraBold-Web";
    src: url("./assets/fonts/MBCorpoSTitle-ExtraBold-Web.woff2");
}

@font-face {
    font-family: "MBCorpoSTitle-Regular-Web";
    src: url("./assets/fonts/MBCorpoSTitle-Regular-Web.woff2");
}

body {
    font-family: "MBCorpoSText-Regular-Web";
}

.btn {
    padding: 9px 16px !important;
    outline: none;
    border: 1px solid #fff;
    color: var(--white-text) !important;
    background-color: transparent;
    width: fit-content;
    cursor: pointer;
    border-radius: 1px !important;
}

.btn:hover {
    background-color: var(--primary-color);
    box-shadow: 0 0 16px 0 var(--primary-color);
}

.btn.action {
    border: none;
    background-color: var(--primary-color);
    margin-right: 8px;
}

.btn.action > i {
    font-size: 20px;
    transform: translate(-5px, 3px);
}

.btn.onMouseOver:hover {
    /* background-color: var(--primary-color);
    box-shadow: 0 0 16px 0 var(--primary-color); */
}

/* Page */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;

}


/* home page */
.main {

}

/* header */
.header {
    height: 100px;
    background-color: #000;
    color: var(--white-text);
    display: flex;
    align-items: center;
    position: relative;
}

.header__logo img {
    height: 54px;
    width: 186px;
    cursor: pointer;
    opacity: 0;
    transition: 0.2s;
    position: absolute;
    top: 27px;
    left: var(--left-percent);
}

.header__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    right: var(--right-percent);
}

.header__title--provider {
    display: flex;
    margin-bottom: 8px;
    justify-content: end;
    opacity: 0;
    transition: 0.2s;
    /* max-height: 0; */
    transition-delay: 0.2s;
}

.header__title--provider > span > i {
    transform: translateY(6px);
    font-size: 26px;
}

.header__title--provider .provider {
    transform: translate(10px, 8px);
    cursor: pointer;
    color: #DBDBDB;
    margin-right: 35px;
    margin-left: 12px;
    font-size: 14px;
}

.provider:hover {
    color: var(--primary-color);
}

.header__title--provider > i {
    font-size: 27px;
    transform: translate(10px, 6px);
    color: #DBDBDB;
}

.header__title--provider > i:hover {
    color: var(--primary-color);
}

.header__title--provider + i {
    font-size: 21px;
    transform: translate(10px, 10px);
    color: #DBDBDB;
}

.header__title--optional {
    transform: translate(10px, 3px);
    z-index: 100;
    opacity: 0;
    transition: 0.2s;
    /* max-height: 0; */
    transition-delay:0.4s ;
}

.header__logo img.start,
.header__title--provider.start,
.header__title--optional.start {
    opacity: 1;
    /* max-height: 120px; */
}

.title--optionals {
    display: flex;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 15px;
    font-family: "MBCorpoSTitle-ExtraBold-Web";
    transform: translate(10px, 8px);
    padding: 0px 10px;
}

 .title--optional {
    position: relative;
}

.title--optional::before {
    width: 100%;
    height: 20px;
    content: '';
    position: absolute;
    background-color: transparent;
    bottom: -10px;
}

li.title--optional:last-child {
    background-color: var(--primary-color);
    padding: 4px 16px 4px 16px;
    border-radius: 20px;
    transform: translate(-12px,-4px);
}

li.title--optional:last-child:hover {
    background-color:  var(--primary-color) !important;
    color: white !important;
}

li.title--optional:hover {
    color: var(--primary-color);
}

.title--optional ~ .title--optional {
    margin-left: 46px;
}

li.title--optional:hover .optional {
    opacity: 1;
    max-height: max-content;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
}

.optional {
    display: none;
    opacity: 0;
    max-height: 0;
    transition: 0.5s 0.1s;
    overflow: hidden;
    position: absolute;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    font-size: 12px;
    padding-left: 0;
    width: max-content;
    border-top: 4px solid var(--primary-color);
    top: 36px;
    cursor: pointer;
    flex-direction: column;
    align-items: center;
    z-index: 100;
    color: var(--white-text);
}


.optional::before {
    width: 100%;
    height: 50px;
    background-color: transparent;
    position: absolute;
    content: '';
    display: block;
    top: -20px;
}

.optional:first-child::before {
    z-index: 1000;
}

.optional > li {
   width: 100%;
    text-align: left;
    padding: 10px 32px;
    font-size: 13px;
    font-family: 'MBCorpoSText-Regular-Web';
}

.optional > li ~ li::before {
    width: 160px;
    height: 1px;
    background-color: rgb(179, 159, 159);
    content: '';
    display: block;
    position: absolute;
    transform: translate(-9px,-10px);
    
}

.optional > li:last-child::before {
    width: 120px;
}

.optional > li:hover {
    background-color: var(--primary-color);
    color: white;
}


.body {
    position: relative;
    background-color: black;
    padding-bottom: 96px;
}

.body__video  {
    width: 100%;
    position: relative;
}

.body__video--title {
    position: absolute;
    padding: 4px 8px 6px;
    background-color: rgba(0, 0, 0, 0.6);
    bottom: 36px;
    color: var(--white-text);
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    width: 960px;
    color: #DBDBDB;
}

video {
    opacity: 0;
    transition: 0.2s;
}

video.start {
    opacity: 1;
}

.body__slogan {
    position: absolute;
    width: 462px;
    height: 217px;
    top: 43px;
    left: calc(var(--left-percent) - 0.8%);
    background-color: rgba(0, 0, 0, 0.8);
    color: var(--white-text);
    padding-left: 16px;
    transition: 0.3s;
}

.body__slogan p {
    margin: 29px 0 24px 0;
    position: relative;
    transform: translateY(-87px);
    transition: 0.5s;
    transition-delay: 0.6s;
    opacity: 0;
}

.body__slogan h1 {
    font-size: 34px;
    font-weight: bold;
    margin-bottom: 28px;
    font-family: "MBCorpoSTitle-ExtraBold-Web";
    margin-top: 35px;
    transform: translateX(100px);
    transition: 0.5s;
    transition-delay: 0.8s;
    opacity: 0;
}

.body__slogan .line,.body__mainCar--info .line {
    position: absolute;
    width: 40px;
    height: 1px;
    background-color: var(--primary-color);
    top: 70px;
    left: 16px;
}

.body__slogan .line {
    transform: translateX(-100px);
    transition: 0.5s;
    transition-delay: 0.8s;
    opacity: 0;
}

.body__slogan .btn.action {
    transform: translateY(100px);
    transition: 0.5s;
    transition-delay: 1s;
    opacity: 0;
}

.body__mainCar--info .line {
    transition: 1s !important;
}

.body__slogan p.start,
.body__slogan h1.start,
.body__slogan .line.start,
.body__slogan .btn.action.start {
    transform: translate(0, 0);
    opacity: 1;
}

.body__mainCar--info .line.start {
    left: 16px;
}

.body .container {
    padding: 0 -32px;
}

.body__option {
    margin-top: 82px;
}

.body__option--image {
    height: var(--height-image);
    cursor: pointer;
    margin-bottom: 44px;
    margin-top: 8px;
}

#body__option--small {
    width: 100%;
}

.body__option--image + h3 {
    color: white;
    background-color: black;
    height: 80px;
    cursor: pointer;
    font-size: 26px;
    font-family: "MBCorpoSTitle-Bold-Web";
    cursor: pointer;
}

.body__mainCar {
    height: 760px;
    background-image: url("https://www.mercedes-amg.com/content/global/en/home/jcr:content/content/mediaslider_copy_778542791/slides/slide_copy_copy_copy/media1/image.media3.responsive_full_viewport_16_9.1654170880100.jpeg");
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    margin-top: 74px;
}

.body__mainCar.source {
    background-image: url("https://www.mercedes-amg.com/content/global/en/home/jcr:content/content/herostage_copy/teasers/teaser_copy_1096732759.media3.responsive_full_viewport_16_9.1659710127237.jpeg");
    position: relative;
}

.body__mainCar.source::before,.body__mainCar.fly::before {
    content: '';
    height: 121%;
    width: 51%;
    position: absolute;
    left: -256px;
    transform: skew(-38deg);
    background-color: rgba(0,0,0,0.7);
}

.body__mainCar.fly {
    background-image: url("https://www.mercedes-amg.com/content/global/en/home/jcr:content/content/herostage_726660968/teasers/teaser_copy.media3.responsive_full_viewport_16_9.1659710127378.jpeg");
}

.body__mainCar--info {
    position: absolute;
    top: 38px;
    left: 101px;
    background-color: rgba(0, 0, 0, 0.7);
    color: var(--white-text);
    font-family: 'MBCorpoSText-Regular-Web';
    font-size: 16px;
    padding: 0px 16px;
}

.body__mainCar--info.source {
    background-color: unset;
}

.body__mainCar--info .info--title,
.body__mainCar--info .info--heading,
.body__mainCar--info .info--detail,
.body__mainCar--info .info--btn, 
.body__mainCar--info .line {
    transform: translateX(335px);
    opacity: 0;
}

.body__mainCar--info .info--title.start,
.body__mainCar--info .info--heading.start,
.body__mainCar--info .info--detail.start,
.body__mainCar--info .info--btn.start, 
.body__mainCar--info .line.start {
    /* transform: scale(1); */
    transform: translateX(0px);
    opacity: 1;
    transition-timing-function: linear;
}


.info--title {
    padding: 32px 0px;
    word-spacing: 0px;
    transition: 1s !important;
}

.info--title.start {
    
}

.info--heading {
    font-weight: bolder;
    font-size: 34px;
    word-spacing: 4px;
    margin-top: 8px;
    line-height: 1;
    transition: 0.8s !important;
    margin-bottom: 52px;
}

#info--heading {
    font-family: "MBCorpoSTitle-ExtraBold-Web";
}

.info--detail {
    margin-bottom: 25px;
    line-height: 1.3;
    margin-top: 8px;
    transition: 0.5s !important;
}

.info--detail.small {
    margin-top: 6px;
    font-size: 16px;
    font-family: "MBCorpoSText-Regular-Web";
    margin-bottom: 20px;
}

.info--btn {
    padding: 8px 14px;
    border:1px solid var(--white-text);
    color: var(--white-text);
    outline: none;
    background-color: transparent;
    margin: 4px 0px 16px 0px;
    transition: 0.5s !important;
}

.info--btn:hover {
    background-color: var(--primary-color);
    box-shadow: 0 0 16px 0 var(--primary-color);
    border-color: transparent;
}


.body__mainCar--title {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 14px;
    bottom: 32px;
    color: #DBDBDB;
    right: 50%;
    transform: translateX(50%);
    width: max-content;
    padding:  4px 9px 6px;
}

.body__mainCar--title.source {
    right: 10px;
    transform: unset;
    bottom: 44px;
}

.body__branch {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body__branch--heading {
    font-size: 33px;
    color: var(--white-text);
    margin-top: 28px;
    font-weight: bold;
    transform: translateX(-7px);
    word-spacing: 3px;
    margin-bottom: 18px;
}

.body__car {
    margin-top: 100px;
    z-index: 100;
}

.body__car--img {
    position: relative;
}

.img--image {
    background-size: contain;
    background-repeat: no-repeat;
    background: url("https://www.mercedes-amg.com/content/global/en/home/jcr:content/content/imagetext_932124162_/sliders/imagetextslide/media/image.media3.responsive_image_text_1_1.1656944059798.jpeg");
    height: 662px;
    background-size: cover;
}

.img--image.right {
    background: url("https://www.mercedes-amg.com/content/global/en/home/jcr:content/content/imagetext_copy_copy/sliders/imagetextslide/media/image.media3.responsive_image_text_1_1.1653668360271.jpeg");
    background-size: cover;
}

.img--image.small {
    background: url("https://www.mercedes-amg.com/content/global/en/home/jcr:content/content/imagetext_1114513277/sliders/imagetextslide/media/image.media3.responsive_image_text_16_9.1650563431129.jpeg");
    height: 372px;
    background-size: cover;
}

.img--detail {
    font-size: 14px;
    margin-top: 20px;
    color: #DBDBDB;
    line-height: 1.2;
}

.body__experience {
    color: var(--white-text);
    font-weight: bold;
    position: relative;
    margin-bottom: -118px;
    font-size: 34px;
    font-family: 'MBCorpoSTitle-ExtraBold-Web';
}

.body__experience::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 1px;
    background-color: var(--primary-color);
    top: -24px;
}

.body__car--img > i {
    position: absolute;
    top: 0;
    right: 0;
    color: var(--white-text);
    font-size: 24px;
    background-color: black;
    padding: 4px;
}

.body__car--img > i:hover {
    color: var(--primary-color);
}

.body__car--info {
    color: var(--white-text);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    position: relative;
}

.body__car--info.margin__left {
    margin-left: 96px;
}

.info--type {
    margin-bottom: 38px;
    margin-top: 14px;
}

.info--type.small {
    font-size: 16px;
    font-family: "MBCorpoSText-Regular-Web";
}

.info--type + .line2 {
    position: absolute;
    width: 40px;
    height: 1px;
    background-color: var(--primary-color);
    top: 116px;
    left: 2px;
}

.body__car--info .line {
    position: absolute;
    width: 40px;
    height: 1px;
    background-color: var(--primary-color);
    top: 288px;
    left: 1px;
}

.info--name {
    font-size: 30px;
    font-family: "MBCorpoSTitle-Bold-Web";
    margin-bottom: 24px;
    word-spacing: 2px;

}


/*  */

.body__introduce {
    margin-top: 124px;
    color: var(--white-text);
}

.body__introduce.marginTop {
    margin-top: 45px;
}

.body__introduce--img {
    position: relative;
    cursor: pointer;
}

.body__introduce--img img {
    width: 100%;
    height: 100%;
    transform: scaleX(0.8);
    transition: 0.8s;
    opacity: 0;
}

.date {
    width: 44px;
    height: 61px;
    background-color: #fff;
    position: absolute;
    left: 12px;
    top: -12px;
    color: black;
    text-align: center;
}

.date__moon  {
    font-weight: lighter;
    font-size: 14px;
    transform: translateY(8px);
    color: #333;
}

.date__day  {
    font-size: 26px;
    font-family: "MBCorpoSTitle-ExtraBold-Web";
    font-weight: lighter;
    color: #333;
}

.shadow {
    border-color: transparent transparent rgb(191, 171, 171) rgb(191, 171, 171);
    border-width: 6px 3px;
    border-style: solid;
    position: absolute;
    top: -12px;
    left: 56px;
}

.introduce__info--heading {
    margin: 40px 0px 20px 0px;
    font-size: 26px;
    cursor: pointer;
    font-family: 'MBCorpoSTitle-Bold-Web';
    transform: scaleX(0.7);
    opacity: 0;
    transition: 0.8s;
}

.introduce__info--detail {
   font-size: 16px;
   color: #DBDBDB;
   transform: scaleX(0.3);
   transition: 0.8s;
   opacity: 0;
}
.introduce__info--detail.small-font {
    font-size: 13px;
}

.introduce__info--heading.start,
.introduce__info--detail.start,
.body__introduce--img img.start {
   transform: scaleX(1);
    opacity: 1;
}

.body__news {
    color: var(--white-text);
    position: relative;
    margin-top: 41px;
}

.body__news::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 1px;
    background-color: var(--primary-color);
    top: 36px;
}

.body__news--btn {
    display: flex;
    justify-content: end;
    transform: translateY(-42px);
}

.body__news--heading {
    font-size: 34px;
    font-family: "MBCorpoSTitle-ExtraBold-Web";
    font-weight: bolder;
}

.news__info--title {
    font-size: 14px;
    font-weight: lighter;
    color: #9f9f9f;
    padding: 12px 0px 6px 0px;
}

.body__news-img {
    width: 100%;
    height: 100%;
    border: 1px solid rgb(219, 211, 211);
    cursor: pointer;
}

.body__news-img + .date {
    transform: translate(0, 145px);
    cursor: pointer;
}

.body__news-img + .date + .shadow {
    transform: translate(0, 145px);
    cursor: pointer;
}

.news__info--heading {
    font-size: 30px;
    font-family: "MBCorpoSTitle-Bold-Web";
}

.news__info--heading,.news__info--detail {
    cursor: pointer;
}

.news__info--detail {
    cursor: pointer;
    font-family: 'MBCorpoSText-Regular-Web';
    font-size: 17px;
    line-height: 1.3;
    margin-top: 16px;
}

.body__btn--center {
    margin-top: 53px;
    display: flex;
    justify-content: center;
}

.footer {
    height: 500px;
    color: #9f9f9f;
}

.footer__nav {
    background-color: #2d2d2d;
    background: linear-gradient(to bottom, #333 0%, #1A1A1A 100%);
    height: 165px;
}

.footer__nav--up {
    margin-left: 33px;
}

.footer__nav--up, i {
    font-weight: bolder;
    color: var(--white-text);
    cursor: pointer;
}

.footer__nav--up + i {
    transform: translate(16px,12px);
    font-size: 36px;
}

.goToTop {
    cursor: pointer;
    margin-bottom: 24px;
    transform: translateX(16px);
}

.goToTop:hover i,
.goToTop:hover span {
    color: var(--primary-color);
}

.footer__nav--de {
    position: relative;
    margin-right: 36px;
    cursor: pointer;
    font-size: 14px;
}

.footer__nav--de:hover {
    color: var(--primary-color);
}

.footer__nav--de::before {
    content: '';
    position: absolute;
    background-color: #9f9f9f;
    height: 12px;
    width: 1px;
    transform: translate(37px, 7px);
}

.footer__nav--en {
    color: var(--primary-color);
    font-size: 14px;
}

.footer__nav--icon {
    font-size: 32px;
}

.footer__nav--icon i {
    transform: translateY(-8px);
    color: #9f9f9f;
    cursor: pointer;
}

.footer__nav--icon i:hover {
    color: var(--primary-color);
}

.footer__nav--icon i ~ i {
    margin-left: 22px;
}

.footer__nav--list {
    display: flex;
    margin-left: 88px;
}

.footer__nav--list li {
    font-size: 14px;
    cursor: pointer;
}

.footer__nav--list li:hover {
    color: var(--primary-color);
}

.footer__nav--list li ~ li {
    margin-left: 40px;
    position: relative;
}

.footer__nav--list li ~ li::before {
    content: '';
    height: 12px;
    width: 2px;
    background-color: #9f9f9f;
    position: absolute;
    transform: translate(-20px, 5px);
}

.footer__content {
    background-color: black;
    font-size: 14px;
}

.footer__content {
    line-height: 1.3;
}

.footer__content--decor {
    text-decoration: underline;
    color: var(--white-text);
    cursor: pointer;
}

.footer__content--decor:hover {
    color: var(--primary-color);
}